<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="msbuildToolsets" type="Microsoft.Build.Evaluation.ToolsetConfigurationSection, Microsoft.Build, Version=15.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
	</configSections>
	<runtime>
		<AppContextSwitchOverrides value="Switch.System.IO.UseLegacyPathHandling=false" />
		<generatePublisherEvidence enabled="false" />
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Build.Framework" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-100.0.0.0" newVersion="15.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Build.Engine" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-100.0.0.0" newVersion="15.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Build" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-100.0.0.0" newVersion="15.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Build.Utilities.Core" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-100.0.0.0" newVersion="15.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Build.Tasks.Core" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-100.0.0.0" newVersion="15.1.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<msbuildToolsets default="15.0">
		<toolset toolsVersion="15.0">
			<property name="MSBuildExtensionsPath" value="$(MSBuildToolsPath)\..\..\..\MSBuild" />
			<property name="RoslynTargetsPath" value="$(MSBuildToolsPath)\Roslyn" />
			<projectImportSearchPaths>
				<searchPaths os="windows">
					<property name="MSBuildExtensionsPath" value="$(MSBuildProgramFiles32)\MSBuild"/>
					<property name="MSBuildExtensionsPath32" value="$(MSBuildProgramFiles32)\MSBuild"/>
					<property name="MSBuildExtensionsPath64" value="$(MSBuildProgramFiles32)\MSBuild"/>
				</searchPaths>
			</projectImportSearchPaths>
		</toolset>
	</msbuildToolsets>
</configuration>
