[Bb]in/
[Oo]bj/
MonoDevelop.FSharpBinding/Gui/[Oo]bj/Debug/*
MonoDevelop.FSharpBinding/Gui/[Bb]in/Debug/*
MonoDevelop.FSharpBinding/Gui/[Oo]bj/*
MonoDevelop.FSharpBinding/Gui/[Bb]in/*
MonoDevelop.FSharpBinding/_ReSharper.MonoDevelop.FSharp/*
MonoDevelop.FSharpBinding/[Oo]bj/
MonoDevelop.FSharpBinding/[Bb]in/
repository/*
*.suo
*.pidb
*.userprefs
*.user
Makefile
*.dll
*.pdb
*.cache
*~
pack/*
