# normalize all files unless overridden later
*	text=auto encoding=UTF-8

# All Stetic's files are always generated as LF
**/gtk-gui/*	text eol=lf

# just in case, explicitly mark some binary file
# types as not text
*.jpg	binary
*.png	binary