# F#
[Bb]in/
[Oo]bj/
monodevelop/pack/*
monodevelop/packages/*
monodevelop/build-and*
repository/*
*.suo
*.pidb
*.userprefs
*.user
*.dll
*.pdb
*.cache
*.swp
*.orig
=======
*~
pack/*
lib/NUnit.*
lib/FsUnit.*

FSharp.AutoComplete/test/integration/RawIdTest/FSharp.Data
FSharp.AutoComplete/test/integration/RawIdTest/Zlib.Portable
FSharp.AutoComplete/test/integration/RawIdTest/DesignTimeURIs/
FSharp.AutoComplete/test/integration/RawIdTest/FreebaseSchema/
FSharp.AutoComplete/test/integration/RawIdTest/WorldBankSchema/
FSharp.AutoComplete/test/unit/TestResult.xml
/packages

# Emacs
*.elc
emacs/deps
emacs/tmp

.DS_Store

monodevelop/Makefile

/monodevelop/MonoDevelop.FSharpBinding/FSharpBinding.addin.xml
/monodevelop/MonoDevelop.FSharpBinding/MonoDevelop.FSharp.*.fsproj
/monodevelop/MonoDevelop.FSharpBinding/packages

monodevelop/MonoDevelop.FSharpBinding/MonoDevelop.FSharp.Tests/MonoDevelop.FSharp.Tests.fsproj
