<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<add key="Nuget Official" value="https://www.nuget.org/api/v2/" />
		<add key="Nuget Official" value="https://api.nuget.org/v3/index.json" />
		<add key="Roslyn Nightlies" value="https://dotnet.myget.org/F/roslyn/api/v3/index.json" />
		<add key="Roslyn VSForMac" value="https://dotnet.myget.org/F/roslyn-for-vs-for-mac/api/v3/index.json" />
		<add key="VS Editor" value="https://vside.myget.org/F/vssdk/api/v3/index.json" />
		<add key="VS Editor Impl" value="https://vside.myget.org/F/vs-impl/api/v3/index.json" />
		<add key="VS Editor Legacy" value="https://www.myget.org/F/vs-editor" />
		<add key="NuGetizer3000" value="https://ci.appveyor.com/nuget/nugetizer3000" />
		<add key="VSTest" value="https://dotnet.myget.org/F/vstest/" />
		<add key="Templating" value="https://dotnet.myget.org/F/templating/" />
		<add key="Azure AppService" value="https://www.myget.org/F/azure-appservice/api/v3/index.json" />
	</packageSources>
</configuration>
