source https://nuget.org/api/v2/

nuget ExtCore 0.8.45 framework: >= net40
nuget FSPickler 1.4.0
nuget FSharp.Compiler.Service
nuget Fantomas 1.11.0 framework: >= net45
nuget FSharp.Compiler.CodeDom 0.9.2 framework: >= net40
nuget Microsoft.CodeAnalysis 1.0.0.0-rc2 framework: >= net45
nuget Mono.Cecil 0.9.6.1 framework: >= net40
nuget NUnit 2.6.4 framework: >= net45
nuget Argu 1.0.0