[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=MonoDevelop
GenericName=Integrated Development Environment
Comment=Develop .NET applications in an Integrated Development Environment
Exec=monodevelop
TryExec=monodevelop
Icon=monodevelop
StartupNotify=true
Terminal=false
Type=Application
MimeType=text/x-csharp;application/x-mds;application/x-mdp;application/x-cmbx;application/x-prjx;application/x-csproj;application/x-vbproj;application/x-sln;
Categories=GNOME;GTK;Development;IDE;
X-GNOME-Bugzilla-Bugzilla=Ximian
X-GNOME-Bugzilla-Product=MonoDevelop
X-GNOME-Bugzilla-OtherBinaries=monodevelop
