<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.TemplateEngine.Abstractions" version="1.0.0-beta2-20170430-208" targetFramework="net45" />
  <package id="Microsoft.TemplateEngine.Core" version="1.0.0-beta2-20170430-208" targetFramework="net45" />
  <package id="Microsoft.TemplateEngine.Core.Contracts" version="1.0.0-beta2-20170430-208" targetFramework="net45" />
  <package id="Microsoft.TemplateEngine.Edge" version="1.0.0-beta2-20170430-208" targetFramework="net45" />
  <package id="Microsoft.TemplateEngine.Orchestrator.RunnableProjects" version="1.0.0-beta2-20170430-208" targetFramework="net45" />
  <package id="Microsoft.TemplateEngine.Utils" version="1.0.0-beta2-20170430-208" targetFramework="net45" />
  <package id="Microsoft.VisualStudio.CoreUtility" version="15.0.26201" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Text.Data" version="15.0.26201" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Text.Logic" version="15.0.26201" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Text.UI" version="15.0.26201" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net45" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net45" />
  <package id="System.IO.Compression" version="4.3.0" targetFramework="net45" />
  <package id="System.ValueTuple" version="4.3.1" targetFramework="net461" />
  <package id="YamlDotNet.Signed" version="4.0.1-pre291" targetFramework="net45" />
</packages>