<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
				<bindingRedirect oldVersion="0.84.0.0" newVersion="2.84.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Composition.AttributedModel" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="1.0.27.0-1.0.30.0" newVersion="1.0.30.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Composition.Convention" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="1.0.27.0-1.0.30.0" newVersion="1.0.30.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Composition.Hosting" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="1.0.27.0-1.0.30.0" newVersion="1.0.30.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Composition.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="1.0.27.0-1.0.30.0" newVersion="1.0.30.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Composition.TypedParts" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="1.0.27.0-1.0.30.0" newVersion="1.0.30.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	
	<!-- This is required by the subversion add-in for windows, which uses a mixed mode assembly built with .NET 2.0 -->
	<startup useLegacyV2RuntimeActivationPolicy="true">
		<supportedRuntime version="v4.0"/>
	</startup>
</configuration>
