body { font: 10pt Verdana, sans-serif; }
.header { text-align: center; width: 100%; }
hr { margin: 1.0em 0; height: 1px; border: 0; color: #000; background: #000; }
#testName { font-size: 11pt; font-weight: bold; }
#documentName { font-size: 10.5pt; }
#testDescription { font-size: 10pt; font-style: italic; }
table { border-collapse: collapse; }
th, td { border: 1px solid #333; padding: 3px; vertical-align: top; text-align: left; }
th { font: bold 10pt Verdana, sans-serif; background: #d0d0d0; }
td { font: 10pt Verdana, sans-serif; }
#stepNumber { width: 1%; }
#action { width: 30%; }
#expectedResult { width: 30%; }
#screenshot { width: 9%; }
#actualResult { width: 30%; }
img { border: 0; }
#signature { text-align: right; line-height: 2.5em; }
