<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<add key="Nuget Official" value="https://api.nuget.org/v3/index.json" />
		<add key="MyGetFeed" value="https://www.myget.org/F/xamprojectci/api/v2" />
		<add key="mirepoix" value="https://www.myget.org/F/mirepoix/api/v3/index.json"/>
		<add key="Xamarin-DevDiv" value="https://devdiv.pkgs.visualstudio.com/_packaging/Xamarin/nuget/v3/index.json" />
	</packageSources>
</configuration>
