<configuration>
	<serializer class="Origin.Core.Addins.Setup.AddinSystemConfiguration" assembly="bin/Debug/Origin.Core.dll">
		<reader>AddinSystemConfigurationReader</reader>
		<writer>AddinSystemConfigurationWriter</writer>
		<generateAsInternal>true</generateAsInternal>
		<namespace>Origin.Core.Addins.Setup</namespace>
		<outFileName>AddinSystemConfigurationReaderWriter.cs</outFileName>
	</serializer>
	<serializer class="Origin.Core.Addins.Setup.Repository" assembly="bin/Debug/Origin.Core.dll">
		<reader>RepositoryReader</reader>
		<writer>RepositoryWriter</writer>
		<generateAsInternal>true</generateAsInternal>
		<namespace>Origin.Core.Addins.Setup</namespace>
		<outFileName>RepositoryReaderWriter.cs</outFileName>
	</serializer>
</configuration>
