<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Web.Xdt" version="2.1.1" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net45" />
  <package id="NuGet.Client" version="3.3.0" targetFramework="net45" />
  <package id="NuGet.Commands" version="3.3.0" targetFramework="net45" />
  <package id="NuGet.Configuration" version="3.3.0" targetFramework="net45" />
  <package id="NuGet.ContentModel" version="3.3.0" targetFramework="net45" />
  <package id="NuGet.Core" version="2.10.1" targetFramework="net45" />
  <package id="NuGet.DependencyResolver" version="3.3.0" targetFramework="net45" />
  <package id="NuGet.DependencyResolver.Core" version="3.3.0" targetFramework="net45" />
  <package id="NuGet.Frameworks" version="3.3.0" targetFramework="net45" />
  <package id="NuGet.LibraryModel" version="3.3.0" targetFramework="net45" />
  <package id="NuGet.Logging" version="3.3.0" targetFramework="net45" />
  <package id="NuGet.PackageManagement" version="3.3.0" targetFramework="net45" />
  <package id="NuGet.Packaging" version="3.3.0" targetFramework="net45" />
  <package id="NuGet.Packaging.Core" version="3.3.0" targetFramework="net45" />
  <package id="NuGet.Packaging.Core.Types" version="3.3.0" targetFramework="net45" />
  <package id="NuGet.ProjectManagement" version="3.3.0" targetFramework="net45" />
  <package id="NuGet.ProjectModel" version="3.3.0" targetFramework="net45" />
  <package id="NuGet.Protocol.Core.Types" version="3.3.0" targetFramework="net45" />
  <package id="NuGet.Protocol.Core.v2" version="3.3.0" targetFramework="net45" />
  <package id="NuGet.Protocol.Core.v3" version="3.3.0" targetFramework="net45" />
  <package id="NuGet.Repositories" version="3.3.0" targetFramework="net45" />
  <package id="NuGet.Resolver" version="3.3.0" targetFramework="net45" />
  <package id="NuGet.RuntimeModel" version="3.3.0" targetFramework="net45" />
  <package id="NuGet.Versioning" version="3.3.0" targetFramework="net45" />
</packages>