<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Lucene.Net" version="3.0.3" targetFramework="net461" />
  <package id="Microsoft.Web.Xdt" version="2.1.2" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net461" />
  <package id="NuGet.Commands" version="5.0.0-rtm.5856" targetFramework="net461" />
  <package id="NuGet.Common" version="5.0.0-rtm.5856" targetFramework="net461" />
  <package id="NuGet.Configuration" version="5.0.0-rtm.5856" targetFramework="net461" />
  <package id="NuGet.Credentials" version="5.0.0-rtm.5856" targetFramework="net461" />
  <package id="NuGet.DependencyResolver.Core" version="5.0.0-rtm.5856" targetFramework="net461" />
  <package id="NuGet.Frameworks" version="5.0.0-rtm.5856" targetFramework="net461" />
  <package id="NuGet.Indexing" version="5.0.0-rtm.5856" targetFramework="net461" />
  <package id="NuGet.LibraryModel" version="5.0.0-rtm.5856" targetFramework="net461" />
  <package id="NuGet.PackageManagement" version="5.0.0-rtm.5856" targetFramework="net461" />
  <package id="NuGet.Packaging" version="5.0.0-rtm.5856" targetFramework="net461" />
  <package id="NuGet.Packaging.Core" version="5.0.0-rtm.5856" targetFramework="net461" />
  <package id="NuGet.ProjectModel" version="5.0.0-rtm.5856" targetFramework="net461" />
  <package id="NuGet.Protocol" version="5.0.0-rtm.5856" targetFramework="net461" />
  <package id="NuGet.Resolver" version="5.0.0-rtm.5856" targetFramework="net461" />
  <package id="NuGet.Versioning" version="5.0.0-rtm.5856" targetFramework="net461" />
</packages>