<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Web.Xdt" version="2.1.1" targetFramework="net45" />
  <package id="NuGet.Core" version="2.10.1" targetFramework="net45" />
  <package id="NuGet.Frameworks" version="3.3.0" targetFramework="net45" />
  <package id="NuGet.Logging" version="3.3.0" targetFramework="net45" />
  <package id="NuGet.Packaging" version="3.3.0" targetFramework="net45" />
  <package id="NuGet.Packaging.Core" version="3.3.0" targetFramework="net45" />
  <package id="NuGet.Packaging.Core.Types" version="3.3.0" targetFramework="net45" />
  <package id="NuGet.Versioning" version="3.3.0" targetFramework="net45" />
</packages>