<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.VisualStudio.CoreUtility" version="15.0.26201" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Language.StandardClassification" version="15.0.26201" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Text.Data" version="15.0.26201" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Text.Logic" version="15.0.26201" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Text.UI" version="15.0.26201" targetFramework="net461" />
</packages>