<Root>
  <Token>
    <ID>CHARSET_SYM</ID>
    <Descript>'@charset'</Descript>
  </Token>
  <Token>
    <ID>STAR</ID>
    <Descript>'*'</Descript>
  </Token>
  <Token>
    <ID>RBRACE</ID>
    <Descript>'}'</Descript>
  </Token>
  <Token>
    <ID>IMPORT_SYM</ID>
    <Descript>'@import'</Descript>
  </Token>
  <Token>
    <ID>LBRACE</ID>
    <Descript>'{'</Descript>
  </Token>
  <Token>
    <ID>NUMBER</ID>
    <Descript>'a number'</Descript>
  </Token>
  <Token>
    <ID>HASH</ID>
    <Descript>'#'</Descript>
  </Token>
  <Token>
    <ID>VALUE</ID>
    <Descript>'a value'</Descript>
  </Token>
  <Token>
    <ID>MINUS</ID>
    <Descript>'-'</Descript>
  </Token>
  <Token>
    <ID>SOLIDUS</ID>
    <Descript>'/'</Descript>
  </Token>
  <Token>
    <ID>MEDIA_SYM</ID>
    <Descript>'@media'</Descript>
  </Token>
  <Token>
    <ID>SEMI</ID>
    <Descript>';'</Descript>
  </Token>
  <Token>
    <ID>LPAREN</ID>
    <Descript>'{'</Descript>
  </Token>
  <Token>
    <ID>IMPORTANT_SYM</ID>
    <Descript>'@ important'</Descript>
  </Token>
  <Token>
    <ID>URI</ID>
    <Descript>'uri'</Descript>
  </Token>
  <Token>
    <ID>PAGE_SYM</ID>
    <Descript>'@page'</Descript>
  </Token>
  <Token>
    <ID>LBRACKET</ID>
    <Descript>')'</Descript>
  </Token>
  <Token>
    <ID>INCLUDES</ID>
    <Descript>'~='</Descript>
  </Token>
  <Token>
    <ID>COLON</ID>
    <Descript>':'</Descript>
  </Token>
  <Token>
    <ID>RPAREN</ID>
    <Descript>'}'</Descript>
  </Token>
  <Token>
    <ID>WS</ID>
    <Descript>' '</Descript>
  </Token>
  <Token>
    <ID>GREATER</ID>
    <Descript>'>'</Descript>
  </Token>
  <Token>
    <ID>DASHMATCH</ID>
    <Descript>'|='</Descript>
  </Token>
  <Token>
    <ID>OPEQ</ID>
    <Descript>'='</Descript>
  </Token>
  <Token>
    <ID>COMMA</ID>
    <Descript>','</Descript>
  </Token>
  <Token>
    <ID>IDENT</ID>
    <Descript>'identifier'</Descript>
  </Token>
  <Token>
    <ID>PLUS</ID>
    <Descript>'+'</Descript>
  </Token>
  <Token>
    <ID>RBRACKET</ID>
    <Descript>'('</Descript>
  </Token>
  <Token>
    <ID>DOT</ID>
    <Descript>'.'</Descript>
  </Token>
  <Token>
    <ID>STRING</ID>
    <Descript>'string'</Descript>
  </Token>
<!--  <Token>
    <ID>'/<EOF/>'</ID>
    <Descript>'end of file'</Descript>
  </Token>-->
  
</Root>