prefix=@prefix@
exec_prefix=${prefix}
pkglibdir=@libdir@/@PACKAGE@
Libraries= %%LIBRARIES%%

Name: %%NAME%%
Description: %%DESCRIPTION%%
Version: %%VERSION%%

Requires: %%REQUIRES_PKGS%%
Libs: %%LIBS%%
