<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.DotNet.Common.ProjectTemplates.1.x" version="1.0.0-beta2-20170430-208" targetFramework="net46" />
  <package id="Microsoft.DotNet.Common.ProjectTemplates.2.0" version="1.0.0-beta2-20170727-301" targetFramework="net46" />
  <package id="Microsoft.DotNet.Common.ProjectTemplates.2.1" version="1.0.1-beta3-20180215-1392068" targetFramework="net46" />
  <package id="Microsoft.DotNet.Test.ProjectTemplates.1.x" version="1.0.0-beta2-20170430-208" targetFramework="net46" />
  <package id="Microsoft.DotNet.Test.ProjectTemplates.2.0" version="1.0.0-beta2-20170727-301" targetFramework="net46" />
  <package id="Microsoft.DotNet.Test.ProjectTemplates.2.1" version="1.0.1-beta3-20180215-1392068" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net46" />
</packages>