# %%WARNING%%

%%CONFIG_VARS%%
	
all: $(ASSEMBLY)

FILES = %%FILES%%

RESOURCES = %%RESOURCES%%

EXTRAS = %%EXTRAS%%

REFERENCES = %%REFERENCES%%

DLL_REFERENCES = %%DLL_REFERENCES%%

$(ASSEMBLY) $(ASSEMBLY).mdb: $(build_sources) $(build_resources) 
	mkdir -p $(dir $(ASSEMBLY))		
%%COPY_DLLS%%
	$(ASSEMBLY_COMPILER_COMMAND) $(ASSEMBLY_COMPILER_FLAGS) -out:$@ -target:$(COMPILE_TARGET) $(build_sources) $(build_resources_embed) $(build_references_ref)

include $(top_srcdir)/Makefile.include
